@import '../base/colors';

.inicio{
    background-color: $bg-color-1;
    text-decoration-color: lightcoral;
    text-align: center;
    margin: 0;
    padding: 0;   
    h1{

        margin: 5px;
        padding: 70px 16px 15px 16px;

    }
    p{
        justify-items: center;
        background-color: $bg-color-1;
        margin: 0px;
        padding: 15px 32px;
    }
    iframe{
        width: 60%;
        background-color: black;
        padding: 5px 70px ;
        margin: unset;
    }
}